* {
    margin: 40px;
}

body {
    background-color: #f5f2ef;
}

.content,
button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(18, 128, 136);
}
 
button {
    background-color: rgb(168, 168, 179);
    color: white;
    cursor: pointer;
    display: block;
    width: auto;
}

button:hover {
    background-color: rgb(142, 170, 154);
}

 
body 
{
    height: 550px;
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
  
    margin: 0;
    padding: 0;
    background: url(foto.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}

 img{
     right: auto;
     border-radius: 5%;
 }

